<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire d'enregistrement d'un nouveau livre</title>
</head>
<body>
    <h1>Enregistrer un nouveau livre</h1>
    <form action="./enregistrer_livre" method="POST">
        <label for="titre">Titre :</label>
        <input type="text" id="titre" name="titre" required><br><br>
        <label for="auteur">Auteur :</label>
        <input type="text" id="auteur" name="auteur" required><br><br>
        <button type="submit">Enregistrer</button>
    </form>
</body>
</html>
